*{
    text-decoration:none;
    padding:0;
    margin:0;
}



.navbar{
    border:3px solid black;
    display:flex;
    flex-direction:row;
    margin-bottom:40px;
}
.myName{
    display:flex;
    height:50px;
    justify-content:center;
    align-items:center;
}
.myName h1{
    font-family:arial;
}
.links{
    display:flex;
    
    justify-content:space-evenly;
    padding-bottom:5px;
}
.links a{
    align-items:space-evenly;
    border:1px solid black;
    background:gray;
    justify-content:space-around;
    font-size:16px;
    font-family:arial;
    color:white;
}
.middle{
    
    display:flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}
.topdiv{
    display:flex;
    height:400px;
    flex-flow:row wrap;
    width:400px;
    
    margin-left:50px;
    background:url(https://picsum.photos/400);
    box-sizing:border-box;
}
.info{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    align-items:center;
    margin-top:180px;
    width: 400px;
    height:200px;
}


.bottom{
    display:flex;
    height:75vh;
    flex-flow:row wrap;
    width:70%;
    margin:auto;
    color:white;
}

.img{
    display:flex;
    flex-flow:row wrap;
    background:url(https://picsum.photos/124);
    width:124px;
    height:124px;
    box-sizing:border-box;
    border:1px solid black;
    margin:auto;
    
}

